{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="col-md-6">
    <h2>Filter Post</h2>
    <form action="/tuition/filter" method="post">
      {% csrf_token %}

      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect02" name="subject">
          <option> </option>
          {% for i in  subjects%}
            
          
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
          
        </select>
        <label class="input-group-text" for="inputGroupSelect02">Subjects</label>
      </div>
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect02" name="class_in">
          <option> </option>
          {% for i in classes%}
      
      
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
      
        </select>
        <label class="input-group-text" for="inputGroupSelect02">Class</label>
      </div>
      

      <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" value="" id="reverseCheck1" name="available">
        <label class="form-check-label" for="reverseCheck1">
          Only Available
        </label>
      </div>
<div class="form-group">
  <label for="exampleForm">Salary From</label>
  <input type="number" name="salary_from" class="form-control" id="exampleForm">
</div>
<div class="form-group">
  <label for="exampleForm">Salary To</label>
  <input type="number" name="salary_to" class="form-control" id="exampleForm">
</div>
      <button type="submit">Filter</button>
    </form>
  </div>
  <h1 class="text-center">All Posts Are given below:</h1>
<hr>
{% for p in posts %}
<div class="col-md-6 offset-md-2 p-3 border">
  {{p.title}}
  <br>
  by {{p.user.username}}
  <br>
  <hr>
  Details: {{p.Detail}} 
  <a href="/tuition/postdetail/{{p.id}}">...Read more</a>
</div>



{% endfor %}
</div>
{% endblock body %}